body {
    font-family: 'Khula', sans-serif;
}


svg {
    display: block;
    margin: auto;
    
}

.btn-group {
    display: block;
    margin: auto;
}

#d2008, #d2010, #d2013 {
    padding: 12px;
    border-radius: 6px;
    box-shadow: none;
    margin: 10px 5px;
}


.btn-group {
    margin: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.color2008 {
    fill: linear-gradient(90deg, #360033 10%, #0b8793 90%);
}

